@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .hovering {
    @apply hover:!text-[#e5e5e5] ease-out transition-all duration-300 cursor-pointer;
  }
  .setting-btn {
    @apply text-white rounded-md w-24 py-1 hover:!brightness-125 duration-300 ease-out transition-all;
  }
  .setting-label {
    @apply text-xl;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
